<div class="row">
  <div class="col-12">
    <h2>Add a new user</h2>
  </div>
  <div class="form-group">
    <form action="/users/add/" method="post">
      <input class="form-control mb-3 p-1 text-capitalize" id="first_name" type="text" name="first_name"
        value="First name" size="80">
      <input class="form-control mb-3 p-1 text-capitalize" id="last_name" type="text" name="last_name"
        value="Lirst name" size="80">

      <input class="form-control mb-3 p-1 text-capitalize" id="username" type="text" name="username" value="Username"
        size="80">
      <input class="form-control mb-3 p-1 text-capitalize" id="email" type="text" name="email" value="Email" size="80">
      <input class="form-control mb-3 p-1 text-capitalize" id="age" type="text" name="age" value="Age" size="80">
      <input class="form-control mb-3 p-1 text-capitalize" id="bio" type="text" name="bio" value="bio" size="80">
      <input class="form-control mb-3 p-1 text-capitalize" id="Phonenumber" type="text" name="Phonenumber"
        value="Phonenumber" size="80">
      <input class="form-control mb-3 p-1 text-capitalize" id="street" type="text" name="street" value="street"
        size="80">
      <input class="form-control mb-3 p-1 text-capitalize" id="street_number" type="text" name="street_number"
        value="street_number" size="80">
      <input class="form-control mb-3 p-1 text-capitalize" id="zip" type="text" name="zip" value="zip" size="80">
      <input class="form-control mb-3 p-1 text-capitalize" id="city" type="text" name="city" value="city" size="80">
      <input class="form-control mb-3 p-1 text-capitalize" id="country" type="text" name="country" value="country"
        size="80">
      <input class="form-control mb-3 p-1 text-capitalize" id="state" type="text" name="state" value="state" size="80">
      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
  </div>

</div>