<div class="row">
    <div class="col-12">
        <h2>Fake Users Seed</h2>
    </div>
    <div class="col-sm">
        <h3>Users</h3>
        {{#if search}}
        {{> search}}
        {{/if}}
        <ul>
            {{#each users}}
            <li>{{this.first_name}} {{this.last_name}} <a href="../user/{{this._id}}"> ({{this.username}}) </a></li>
            {{/each}}
        </ul>
    </div>
</div>